body {
	font-family: Helvetica, sans-serif;
	background: #002B36;
	color: #fff;
}

h1 {
	font-weight: normal;
}

table {
	display: inline;
}

tr:nth-child(even) {
	background: #efe;
}

tr:nth-child(odd) {
	background: #eef;
}

tr:first-child, tr:first-child:hover, #searchResults tr:first-child:hover {
	background: #444;
	color: #fff;
	cursor: default;
}

#searchResults tr {
	cursor: pointer;
	transition: 200ms;
}

#searchResults tr:hover {
	background: #888;
	color: #fff;
}

td {
	padding: 8px;
}

td button {
	padding: 0;
}

.container {
	margin: 0 auto;
	padding: 10%;
	text-align: center;
}

.primary {
	background: #dc322f;
}
